{% extends "base.html" %}
{% load static from staticfiles %}

{% block head %}

{% endblock %}

{% block title %} Tessera {% endblock %}

{% block header %}

    <header id="heading">
        <hgroup class="grid g2">
          <h1>Tessera</h1>
        </hgroup>
        <nav class="grid g6">
            <ul>
                <li><a href="/register/">Sign Up</a></li>
                <li><a href="/login/">Sign In</a></li>
            </ul>

        </nav>
    </header>

{% endblock %}

{% block content %}

    <div id="content"  class="grid" data-script="Content">

        <section id="projects" class="clear-self">

            <article class="grid g4">
                <p>A tessera is an individual tile used in creating a mosaic.</p></br>
                <p>We create custom wall coverings using tiles made from your photographs.</p></br>
            </article>

            <article class="grid g4">
                <p>Our goal is to imbue life into the spaces you're passing through.</p></br>
                <p>Tessera Designs are printed on self-adhesive fabric that won't stick to
                    your walls.</p></br>
            </article>

            <article class="grid g4">
                <img src="/static/images/tessera/image-2.jpg">
            </article>



        </section>


      </div><!--content-->

{% endblock %}

{% block footer %}
    <footer>
        <div id="footer" class="grid">
                    <ul>
                        <li><a href=# data-target="_blank">Twitter</a></li>
                        <li><a href=# data-target="_blank">Instagram</a></li>
                        <li><a href=# data-target="_blank">Pinterest</a></li>
                        <li><a href=# data-target="_blank">VSCO</a></li>
                    </ul>
        </div>
    </footer>

{% endblock %}