{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} Tessera | Mosaic {% endblock %}

{% block head %}

		<!-- Dependencies -->
		<script src="{% static "js/jquery.js" %}"></script>
        <script src="{% static "js/jquery-ui.js" %}"></script>

        <!-- jQuery Touch Punch -->
        <script src="{% static "js/jquery-touch.js" %}"></script>

        <!-- jQuery.Shapeshift -->
         <script src="{% static "js/jquery-shapeshift.js" %}"></script>


{% endblock %}

{% block header %}

    <header id="heading">
        <hgroup class="grid g4">
          <h1>Tessera | Images</h1>
        </hgroup>
        <nav class="grid g6">
            <ul>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                <li><a href="/about/">About</a></li>
            </ul>

        </nav>
    </header>


{% endblock %}

{% block content %}

        <div id="content"  class="grid">

                        <div class="container">
                            <ul>

                                {% for image in image_set %}

                                        <li><img src="{% static image.file %}"></li>

                                {% endfor %}
                            </ul>

                        </div>


        </div>
{% endblock %}

    {% block footer %}
        <footer class="footer">
        <div id="footer"  class="grid g4">

        <form method="POST" action='/upload/' id="message"
              enctype="multipart/form-data">
            {% csrf_token %}

            <ul class="upload">
                <li>
                    <label for="title">Upload More Images</label>
                </li>
                <li>
                    <input type="file" name="new_image" class="image"/>
                </li>
                <li>
                    <input type="submit" value="Submit image" class="submitButton" />
                </li>
            </ul>
        </form>
        </div>
        </footer>


    {% endblock %}





						


					





