{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %} Sign Up {% endblock %}

{% block header %}

    <header id="heading">
        <hgroup class="grid g4">
          <h1>Tessera | Sign Up</h1>
        </hgroup>
        <nav class="grid g6">
            <ul>
                <li><a href="/login/">Sign In</a></li>
                <li><a href="/about/">About</a></li>
            </ul>

        </nav>
    </header>


 {% endblock %}

{% block content %}

    <div id="content"  class="grid">

        <article class="grid g4">
            <p>Create an account, upload your photos.</p>
            <p>We'll take care of the rest.</p></br>
        </article>

        {% if registered %}
        <strong>thank you for registering!</strong>
        <a href="/tessera/">Return to the homepage.</a><br />
        {% else %}


        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data" class="input">

            {% csrf_token %}

            {{ user_form.as_p }}
            {{ picture_form.as_p }}
            {{ profile_form.as_hidden }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" class="input" />
        </form>
        {% endif %}

    </div>

{% endblock %}




						


					





