/****** Tessera Web Application ******/
/********** by John Broxton **********/

/* Fonts */
*
{
  font-family: 'News Cycle', sans-serif;
  font-size: 1em;
  color: #888;
}

.headings, h1, h2, h3, a {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  padding: 20px 0 25px 0;
}

h1 span {
  font-weight: 700;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #f9f9f9;
}


/* Layout */
body {
  background: #212121;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/static/montage_1.png");

}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding: 0 0 100px;
  position: relative;
  width: 100%;
  border: 1px solid #fff;
}

.upload-form {
  text-align: center;
  font-size: 1em;
}

.upload-form label {
  padding: 0 0 10px 0;
}

.image {
  text-align: center;
  width: 200px;
}

.submitButton {
  background-color: #212121;
  border: hidden;
  padding: 5px 5px;
}

/* Index Page */

.index {
  text-align: center;
}
 li {
   padding: 25px 0;
 }

.input {
  background-color: #000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-style: normal;
  text-align: center;
}

/* Head Title */
header.title-top {
  position: absolute;
  padding: 37.5px 0;
  background: transparent;
  z-index: 999;
  width: 100%;
  color: #fff;
}

/*header.title-top .titles {*/
  /*width: 75%;*/
  /*float: left;*/
  /*position: relative;*/
  /*margin: 0 0 0 25px; }*/

header.title-top .titles:before {
  content: '/';
  position: absolute;
  top: -4px;
  text-align: center;
  font-family: "sans-serif";
  display: block;
  font-size: 30px;
  color: #fff; }

header.title-top .titles h1,
header.title-top .titles h2 {
  margin: 0 0 0 35px; }

header.title-top nav {
  position: relative;
  width: 10%;
  float: right; }

header.title-top nav a {
  margin-top: 0;
  float: right;
  margin-right: 25px; }

/* Navigation */

.nav-main {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  text-indent: -9000px;
  position: relative;
  margin-right: 25px; }

.nav-main:after {
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  text-indent: 0;
  text-align: center;
}

/* Image Lock */

.holdfast-full img {
  display: block;
  width: 100%;
}

/*.holdfast-double > div,*/
/*.holdfast-double img {*/
  /*display: block;*/
  /*float: left;*/
  /*width: 50%;*/
/*}*/

article header h1, article header h2, article header h3, article header h4, .about h1,
footer h1, .about h2,
footer h2 {
  color: #fff;
  text-align: center !important;
  text-transform: uppercase;
}

._active .holdfast-double {
  margin-top: 300px;
}

.holdfast-full,
.holdfast-double {
  background: rgba(0, 0, 0, 0.1);
}



article {
  position: relative;
}

article header {
  background: #212121;
  height: 50px;
  overflow: hidden;
  width: 100%;
  padding: 50px 0 0 0;
}



article .titles {
  margin: 0 0 25px 0;
}




/* About */

footer {
    bottom: 0;
    height: 150px;
    left: 0;
    position: absolute;
    width: 100%;
}

.about h2:after,
footer h2:after {
  content: '+';
  font-size: 20px;
  color: #fff;
  text-align: center;
  display: block;
  margin: 30px 0;
}

.about h1,
footer h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  letter-spacing: 8px;
  color: #fff;
  margin: 0 0 12.5px 0;
  text-align: center;
}

.about h2,
footer h2 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 100;
  letter-spacing: 8px;
  color: #fff;
  margin: 0 0 25px 0;
  text-align: center;
  opacity: 1 !important;
}

footer h2 {
  letter-spacing: 4px;
}

.about p,
footer p {
  color: #999;
  display: block;
  font-size: 15px;
  font-weight: 100;
  width: 80%;
  max-width: 400px;
  margin: 0 auto 25px auto;
  text-align: center;
}

footer p {
  margin-bottom: 0;
  padding-top: 20px;
}

.about p.social,
footer p.social {
  font-size: 11px;
}

.about p a,
footer p a {
  text-transform: none;
  color: #999;
  text-transform: uppercase;
  font-weight: 200;
  font-family: inherit;
  font-size: 11px;
  padding: 0 3px;
}

/* Large Screens */

@media only screen and (min-width: 1400px) {

  article header h1 {
    font-size: 45px;
  }
}

/* Devices */

@media only screen and (max-width: 520px) {

  h1 span {
    display: block;
  }

  header.title-top {
    padding: 25px 0;
  }

  header.title-top div {
    margin: 0 0 0 15px;
  }

  .nav-main {
    margin-right: 12.5px;
  }

  article header {
    position: relative;
    padding-top: 25px;
    height: 175px !important;
  }

  article header h2 {
    padding-top: 0;
  }

  article div:nth-child(2) {
    position: absolute;
    left: 0;
    width: 50%;
    bottom: 25px;
    margin: 0;
  }

  article .titles:nth-child(3) {
    position: absolute;
    left: 50%;
    width: 50%;
    margin: 0;
    bottom: 25px;
  }

  article .titles:first-child:after {
    opacity: .75;
  }

  .about header {
    height: auto !important;
  }
}


.container {
  /*border: 1px dashed #CCC;*/
  position: relative;
  width: 65%;
  margin: auto;

}

.container > img {
  background: #AAA;
  border: 1px solid #333;
  position: absolute;
  height: 100px;
  width: 100px;
}

.container > div > img {
  height: 100px;
  width: 100px;
}

.container > .ss-placeholder-child {
  background: transparent;
  border: 1px dashed blue;
}

