<!doctype html>
<html>

{% load staticfiles %}

<!-- For Angular attribute, add to html | ng-app="TesseraApp" |  -->

	<head>

		<title>Tessera</title>
		<meta name="author" content="John Broxton * com">
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<!-- Angular and JQuery -->
		<script src="resources/js/jquery.js"></script>
		<!-- <script src="resources/js/angular.js"></script> -->

		<!-- Application -->
		<!-- <script type="text/javascript" src="resources/js/main.js?0.0.1"></script> -->

		<!-- CSS -->
		<link rel="stylesheet" href="resources/css/reset.css">
		<link rel="stylesheet" href="resources/css/main.css">
		<link href='https://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>

	</head>

	<body>

		<div id="wrapper">
		<!-- Angular attribute / ng-controller="AppCtrl" / -->

			<header class="masthead cf">
				<div class="titleset">
					<h1>Tessera</h1>
				</div>
			</header>

			<div>
				<article class="upload">

					<div class="lockup-fullscreen">
						<img src="../static/images/IMG_2066.jpg" alt="Mosaic with gray texture outside and colored squares inside">
						<!-- Angular attribute: / responsive mobile="images/mobile_header_1" -->
					</div>

					<header>

						<h1>Tessera</h1>
						<h2>Custom Wall Coverings</h2>

					</header>

					<div class="upload-form">

                        <form method="POST" action='/' id="message"
                              enctype="multipart/form-data">
                            {% csrf_token %}

                            <label for="title">Images</label></br>
                            <input type="file" name="new_image" class="image"/>


                            <input type="submit" value="Submit image"
                                   class="submitButton" /></br>
                        </form>
                    </div>

                </article>

            </div>
         </div>
    </body>
</html>

						


					





